setuptools
catalogue
certifi
charset-normalizer
click
colorama
confection
cymem
en-core-web-sm
Flask
idna
itsdangerous
Jinja2
jsonify
langcodes
MarkupSafe
murmurhash
numpy
packaging
pathy
preshed
pydantic
requests
smart-open
spacy
spacy-legacy
spacy-loggers
srsly
thinc
tqdm
typer
typing_extensions
urllib3
wasabi
Werkzeug
